:root {
  --primary-color: #606c38;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url(/mc-dirt.png);
  overflow:hidden
  /* background- */
  /* filter:saturate(0.5) */
}
h1 {
  font-size: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
.field {
  position: relative;
  display: grid;
}

.tile {
  background-image: url(/mc-grass.png);
  object-fit: cover;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile:hover{
  filter:grayscale(0.4);
  border: 1px solid rgb(41, 41, 41)
}

.tower {
  /* border: 1px solid black; */
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/mc-dispender.png);
  object-fit: cover;
}
.path {
  background-image: url(/mc-sand.png);
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.enemyBase {
  background-image: url(/mc-spawner.png);
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.playerBase {
  background-image: url(/mc-head.png);
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.optionsMenu {
  margin-left: 18vh;
  background-color: var(--primary-color);
  padding: 0;
}
.dialogStyle {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.optionObject {
  background-color: var(--primary-color);
  box-sizing: border-box;
  font-size: 2rem;
  padding: 6px;
}

.optionObject:hover {
  background-color: #80914b;
}

/* --------------head-bar---------- */

.hearths20 {
  position: absolute;
  width: 161px;
  height: 18px;
  object-fit: cover;
  object-position: left bottom;
  transform: translate(6px, 6px);
}

.health0 {
  width: 174px;
  height: 30px;
}

.expFull {
  position: absolute;
  width: 382px;
  height: 10px;
  object-fit: cover;
  object-position: left bottom;
  transform: translate(0px, 4px);
}

.expEmpty {
  width: 382px;
  height: 10px;
}

#level {
  color: rgb(5, 247, 17);
  transform: translate(0px, -15px);
  margin-top: -12px;
  margin-bottom: 0;
  margin-left: 191px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.moneyList {
  content: '';
  clear: both;
  display: table;
  object-fit: cover;
}
.moneyInv {
  float: left;
  width: 64px;
  padding: 5px;
}
.moneyNumber {
  color: white;
  transform: translate(55px, -53px);
  object-fit: cover;
  font-size: 17px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.moneyImg {
  outline: 2px solid black;
  border: 5px solid rgb(172, 172, 172);
  background-color: #57575786;
  width: 64px;
  height: 64px;
}

/* --------------towers---------- */
.turret {
  width: 64px;
  height: 64px;
  object-fit: cover;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}
.towerMenuStyles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.placeTurrets {
  height: 704px;
  width: 320px;
  border: 3px solid black;
  position: fixed;
  right: 15px;
  bottom: 36px;
}
/* -----------towers-types--------- */
.dispenser{
  background-image: url(/mc-dispender.png);
}
.ironGolem{
  background-image: url(/mc-IronGolem.png);
}


/* --------------enemy---------- */
.enemy {
  position: absolute;
  object-fit: contain;
  /* border: 1px solid rgba(0, 0, 0, 0.356); */
  width: 32px;
  height: 32px;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 20px 0px #000000, inset 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}

.zombie {
  background-image: url(/enemy/mc-zombie.png);
}

.bat {
  background-image: url(/enemy/mc-bat.png);
}

.spider {
  background-image: url(/enemy/mc-spider.png);
}

.skeleton {
  background-image: url(/enemy/mc-skeleton.jpg);
}

.enderman {
  background-image: url(/enemy/mc-enderman.png);
}


dl {
  font-size: 2rem;
  color: white;
  /* background-color: #0000005d;  */
  margin-top: 0;
}

dd {
  border-bottom: 3px solid rgba(0, 0, 0, 0.589);
  margin: 0;
  padding: 2px;
  align-items: center;
}

.shopItem {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
}
.shopItem > div {
  display: flex;
  align-items: center;
}

span {
  padding-left: 8px;
}

.menuItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color:#0000005d;
}

.towerMenu {
  height: 704px;
  width: 320px;
  border: 3px solid black;
  position: fixed;
  left: 15px;
  bottom: 36px;
}

.turretCost{
  text-decoration: underline;
}

.showWaveCount{
  color:white
}