:root{
  --primary-color: #606c38;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
h1{
  font-size: 8vh;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
}
.field{
  position: relative;
  display: grid;
}

.tile{
  background-image: url(/mc-grass.png);
  object-fit: cover;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enemy{
  position: absolute;
  background-image: url(/mc-zombie.png);
  object-fit: cover;
  border: 1px solid black;
  width: 32px;
  height:32px;
  transform: translate(-50%,-50%);
}

.tower{
  /* border: 1px solid black; */
  width:64px;
  height:64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/mc-dispender.png);
  object-fit: cover;
}
.path{
  background-image: url(/mc-sand.png);
  object-fit: cover;
  width: 64px;
  height: 64px;
}

.enemyBase{
  background-image: url(/mc-spawner.png);
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.playerBase{
  background-image: url(/mc-head.png);
  object-fit: cover;
  width: 64px;
  height: 64px;}

.optionsMenu{
  margin-left: 18vh;
  background-color: var(--primary-color);
  padding:0;
}
.dialogStyle{
display: flex;
justify-content: space-between;
flex-direction: column;
}

.optionObject{
  background-color: var(--primary-color);
  box-sizing: border-box;
  font-size: 2rem;
  padding: 6px;
}

.optionObject:hover{
  background-color: #80914b;
}

.health20{
  position: absolute;
  width:  87px; 
  /* width 174 is standard */
  height: 30px;
  object-fit: cover;
  object-position: left bottom;
}

.health0{
  width:  174px;
  height: 30px;
}

.turret{
  width:64px;
  height:64px;
  background-image: url(/mc-dispender.png);
  object-fit: cover;
  position: absolute;
  transform: translate(-50%,-50%);
}